<div style="margin:2% 5%; 2% 5%; width:75%;">
<ul class="nav nav-pills">
  <li class="active"><a href="#" ><span><%= Date.today.to_s(:long) %></span></a></li>
  <li><a href="#" title="New" style="color:#337ab7;"><span><%= (Date.today+1).to_s(:long) %></span></a></li>
  <li><a href="#" title="Revised" style="color:#337ab7;"><span><%= (Date.today+2).to_s(:long) %></span></a></li>
</ul>


<% if params["clinic"] == "yes" %>
    
    <table border="1" cellpadding="100" class="app-table">
        <thead>
            
            <% @clinic.doctors.each do |doctor| %>
                <th> <%= doctor.name %> </th>
            <% end %>
        <thead>
        
        <tr>
        <% @clinic.doctors.each_with_index do |doctor,i| %>
            <td>
                <% if i==0 %>
                    <span style="font-size:16px;" class="booked-slot">10:00 AM</span><br>
                <% else %>
                    <a style="font-size:16px;" href = "#" class="available-slot"><u> 10:00 AM </u></a> <br>
                <% end %>
                <% if i==1 %>
                    <span style="font-size:16px;" class="booked-slot">10:30 AM</span><br>
                <% else %>
                    <a style="font-size:16px;" href = "#" class="available-slot"><u> 10:30 AM </u></a> <br>
                <% end %>
                <% if i==3 %>
                    <span style="font-size:16px;" class="booked-slot">11:00 AM</span><br>
                <% else %>
                    <a style="font-size:16px;" href = "#" class="available-slot"><u> 11:00 AM </u></a> <br>
                <% end %>
                
            </td>
        <% end %>
            
            
        </tr>
    </table>
<% else %>
    <table border="1" cellpadding="100" class="app-table">
    <thead>
        <% @doctor.clinics.each do |clinic| %>
            <th> <%= clinic.name %> </th>
        <% end %>
    <thead>

    <tr>
    <% @doctor.clinics.each_with_index do |clinic,i| %>
        <td>
            <% if i==0 %>
                <span style="font-size:16px;" class="booked-slot">10:00 AM</span><br>
            <% else %>
                <a style="font-size:16px;" href = "#" class="available-slot"><u> 10:00 AM </u></a> <br>
            <% end %>
            <% if i==1 %>
                <span style="font-size:16px;" class="booked-slot">10:30 AM</span><br>
            <% else %>
                <a style="font-size:16px;" href = "#" class="available-slot"><u> 10:30 AM </u></a> <br>
            <% end %>
            <% if i==3 %>
                <span style="font-size:16px;" class="booked-slot">11:00 AM</span><br>
            <% else %>
                <a style="font-size:16px;" href = "#" class="available-slot"><u> 11:00 AM </u></a> <br>
            <% end %>
            
        </td>
    <% end %>
        
        
    </tr>
    </table>
<% end %>
</div>