<div style="margin:2% 5%; 2% 5%; width:75%;">
<ul class="nav nav-pills">
  <li class="active"><a href="#" ><span><%= Date.today.to_s(:long) %></span></a></li>
  <li><a href="#" title="New" style="color:#337ab7;"><span><%= (Date.today+1).to_s(:long) %></span></a></li>
  <li><a href="#" title="Revised" style="color:#337ab7;"><span><%= (Date.today+2).to_s(:long) %></span></a></li>
</ul>


<% if params["clinic"] == "yes" %>
    
    <table border="1" cellpadding="100" class="app-table">
        <thead>
            
            <% @clinic.doctors.each do |doctor| %>
                <th> <%= doctor.name %> </th>
            <% end %>
        <thead>
        
        <tr>
        <% @clinic.doctors.each_with_index do |doctor,i| %>
            <% slots = Slot.get_bookings(doctor.id, @clinic.id,Date.today) %>
            <td>
            <% slots.each do |f| %>
            
                <% if f.patient_id.present? %>
                    <span style="font-size:16px;" class="booked-slot"><%= f.slot.start_time%></span><br>
                <% else %>
                    <a style="font-size:16px;" href = "#" class="available-slot"><u> <%= f.slot.start_time%> </u></a> <br>
                <% end %>
                
            
            <% end %>
            </td>
        <% end %>
            
            
        </tr>
    </table>
<% else %>
    <table border="1" cellpadding="100" class="app-table">
    <thead>
        <% @doctor.clinics.each do |clinic| %>
     <th> <%= clinic.name %> </th>
        <% end %>
    <thead>
        <tr>
            <% @doctor.clinics.each_with_index do |clinic,i| %>
                    <% slots = Slot.get_bookings(@doctor.id, clinic.id,Date.today) %>
                    <td>
                        <% slots.each do |f| %>
                            <% if f.patient_id.present? %>
                                <span style="font-size:16px;" class="booked-slot"><%= f.slot.start_time%></span><br>
                            <% else %>
                                <a style="font-size:16px;" href = "#" class="available-slot"><u> <%= f.slot.start_time%> </u></a> <br>
                            <% end %>
                        <% end %>
                    </td>
        
            <% end %>
        </tr>
    </table>
<% end %>
</div>