<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<%= simple_form_for @event, remote: true do |f| %>
    <%= hidden_field_tag "current_doctor_id", params[:current_doctor_id] %>
  <div class="form-inputs" style="width:100%; display:block;">
    <div style="width:40%; display:inline-block;">
        <%= f.label :street, 'Select Clinic' %>
    </div>
    <div style="width:55%; display:inline-block;">
        <%= f.input :clinic_id, collection: @clinics , label: false %>
    </div>
    <%#= f.input :title %>
    <div style="width:40%; display:inline-block;">
        <%= f.label :street, 'Start DateTime:' %>
    </div>
    <div style="width:55%; display:inline-block;">
        <span class="start_time"><%= %></span>
    </div>

    <div style="width:40%; display:inline-block;">
        <%= f.label :street, 'End DateTime:' %>
    </div>
    <div style="width:55%; display:inline-block;">
        <span class="end_time"><%= %></span>
    </div>
    
    <div style="width:40%; display:inline-block;">
        <%= f.label :street, 'Select Color' %>
    </div>
    <div style="width:55%; display:inline-block;">
        <%= f.input :color, as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] ,label: false%>
    </div>

    <%#= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
     
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn-primary' %>
    <%= link_to 'Delete', 
                event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @event.new_record? %>
  </div>
<% end %>
